easydict==1.9
ipdb==0.13.3
jedi==0.10.2
joblib==0.16.0
matplotlib==3.2.2
numpy==1.19.1
pandas==0.24.1
Pillow==7.2.0
pkginfo==1.5.0.1
ply==3.10
prompt-toolkit==1.0.15
protobuf==3.6.0
pyarrow==0.13.0
pycodestyle==2.6.0
pydot==1.4.1
scikit-learn==0.23.1
scipy==1.5.2
seaborn==0.8
sklearn==0.0
statsmodels==0.10.1
tensorboard==2.3.0
tensorboard-logger==0.1.0
tensorflow==1.13.1
tensorflow-estimator==1.13.0
termcolor==1.1.0
threadpoolctl==2.1.0
torch==1.2.0
torchvision==0.4.0
torchviz==0.0.1
tornado==4.5.2
tqdm==4.48.2
umap-learn==0.4.6

